[Unit]
Description=my_finance Django Gunicorn service
After=network.target

[Service]
User=azureuser
Group=www-data
WorkingDirectory=/home/azureuser/myFinance/backend
EnvironmentFile=/home/azureuser/myFinance/backend/.env
ExecStart=/home/azureuser/myFinance/.venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 3
Restart=always

[Install]
WantedBy=multi-user.target
